* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.fc-day-today {
    background-color: rgb(103, 58, 183) !important;
    color: white !important;
}