* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.fc-day-today {
    background-color: #dca4d9 !important;
    color: rgb(0, 0, 0) !important;
}